@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

$Jakarta: 'Plus Jakarta Sans', sans-serif;
$Manrope: 'Manrope', sans-serif;


$primary-color: #6A65FF;
$secondary-color: #6A65FF;
$accent-color: #FFD2D2;
$dark-color: #2B2D3C;
$light-color: #fafafa;
$gold: #ffd549;
$gradient: linear-gradient(106deg, #494CFF -3.9%, rgba(113, 108, 255, 0.90) 123.9%);
$boxShadow: 0px 0px 25px 1px rgba(93, 95, 239, 0.50);

$screenLimit: 1400px;